<section>
  <a href="https://www.twitch.tv/helloitsrufio" target="blank"
    ><img src="https://cdn.worldvectorlogo.com/logos/twitch-purple.svg" alt="Twitch" height="30" width="40" /></a
  >
  <a href="https://www.linkedin.com/in/ruth-reed/" target="blank"
    ><img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-3.svg" alt="LinkedIn" height="30" width="40" /></a
  >
  <a href="https://www.youtube.com/channel/UCotIMz5UDrDMKCHByynP_IQ" target="blank"
    ><img src="https://www.svgrepo.com/show/475700/youtube-color.svg" alt="YouTube VODs" height="30" width="40" /></a
  >
  <a href="https://bsky.app/profile/helloitsrufio.bsky.social" target="blank"
    ><img src="https://cdn.worldvectorlogo.com/logos/bluesky-1.svg" alt="Bluesky" height="30" width="40" /></a
  >
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
  }
</style>
